.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 600px;
}
.search-form {
    transition: all 0.3s ease;
    width: 300px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    display: flex;
    align-items: center;
    position: static;
}

.search-input {
    width: 100%;
    height: 42.5px;
    padding: 0 20px;
    font-size: 1em;
    border: 0;
    outline: 0;
    border-radius: 20px;
    display: block;
    line-height: 42.5px;
    box-sizing: border-box;
    background-color: white;
}

.search-form:hover{
    width: 300px;
    cursor: pointer;
}
.search-form:hover input{
    display: block;
}
.search-form:hover .bi{
    background: #07051a;
    color: white;
}

.btn-search {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 3.5px;
  right: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bi{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;;
}

